.col-payment {
  background-color: rgb(244, 238, 244);
}
.container-productos-payment {
  border-bottom: 1px solid rgb(168, 168, 168);
  overflow-y: scroll;
  max-height: 550px;
}
.producto-comprado {
  width: 90px !important;
  height: 90px !important;
  border-radius: 15%;
  border: 1px solid rgb(206, 206, 206);
}
.col-titulo {
  padding-left: 2px !important;
  padding-top: 17px !important;
  text-align: left;
}
.row-producto-pedido {
  padding-top: 9.5px;
  padding-bottom: 9.5px;
  border-bottom: 1px solid rgb(220, 220, 220);
}
.col-imagen-pedido {
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge {
  margin-top: -80px !important;
  margin-left: -10px !important;
}
.col-precio {
  text-align: right;
  padding-right: 15px !important;
  padding-top: 17px;
}
.col-titulo, .texto-precio {
  font-size: 13px;
  color: rgb(83, 83, 83);
}
.texto-precio-rebajado {
  text-decoration: line-through;
  color: rgb(156, 156, 156);
  font-size: 12px;
}
.texto-precio {
  padding-top: 3px;
}

.row-inputs {
  padding-top: 8px;
}
input {
  padding-left: 6px !important;
  padding-top: 20px !important;
  height: 37px !important;
  font-size: 13.5px !important;
}
select {
  height: 37px !important;
  font-size: 13.5px !important;
  padding-top: 14px !important;
  padding-bottom: 0px !important;
  padding-left: 6px !important;
}
.form-floating > label {
  padding: 0px !important;
  padding-top: 10px !important;
  padding-left: 5px !important;
  transform-origin: 0 0;
  font-size: 13px;
  color: rgb(67, 67, 67);
}
.form-select {
  background-image: url(flecha.svg) !important;
}
.button-pedidos {
  background-color: black;
  color: white;
  font-size: 12px;
  border: none !important;
  padding: 7px;
  width: 40%;
}
.col-button {
  text-align: right;
  padding-top: 25px;
}
.col-information {
  padding-right: 50px !important;
}



input:focus, select:focus {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
input:focus, select:focus {
  border: 2px solid rgb(76, 0, 104) !important;
}
